body{
    background-color: rgb(51, 67, 206);
}

.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(19, 188, 255);
}
.flex{
    display: flex;
}

.red{
    padding-right: 430px;
    background-color: rgb(19, 188, 255);

}